# Ignore all caching folders
*cache/
*/__pycache__/
*cache_dir/

# Ignore analysis results
analysis/*/

# Ignore results
tmp_results*/
results*/
models/*
*results*/

# Ignore generated data
data/*/

# Ignore local helper scripts
local/

# Logs (from cluster runs)
logs/*

# Vscode
.vscode/*

# SLURM files
*.slurm

# Package files
*.egg-info/